@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  color: #222222;
  margin: 0;
  font-weight: 300;
  background-color: rgb(245, 246, 248);
}

img {
  width: 100%;
  height: auto;
}

a {
  color: #2455c3;
  font-weight: 600;
  text-decoration: none;
}

footer {
  height: 30px;
}

/* Typography */

h1 {

}

h2 {
  font-size: 32px;
  line-height: 1em;
}

h3 {

}

h4 {

}

p {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 16px;
  margin-top: 0px;
}

@media (max-width: 768px) {
  p {
    font-size: 18px;
    line-height: 28px;
  }
}


.divider {
  color: #666;
}

.timeframe {
  color: #666;
}

/* Utils */
.red {
  color: #AE422F;
}

.blue {
  color: #2455c3;
}

.unreadable-grey {
  color: #E3E5E9;
}

.tiny-text {
  font-size: 8px;
}

.centerImage {
  text-align: center;
}

.font-weight-100 {
  font-weight: 100;
}

button {
  padding: 24px 48px;
  font-size: 24px;
  font-weight: 600;
  border-radius: 80px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background: #2455c3;
  border: 1px solid #2455c3;
  border: none;
  outline: none;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  transition: 300ms;
}

@media (max-width: 768px) {
  button {
    padding: 16px 24px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 30px;
  }
}


button:hover {
  color: #2455c3;
  background: white;
  border: 1px solid #2455c3;
}

/* POSITIONING */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

ol, ul {
  padding-left: 32px;
  margin-top: 0; 
  font-size: 22px;
  line-height: 32px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 8px; }

.hero-wrapper {
  display: grid;
  grid-template-rows: 80vh;
  align-items: center;
  justify-items: center;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.hero-title {
  font-size: 10vh;
  font-weight: 900;
  line-height: 1.2em;
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 7vh;
  }
}

.hero-description {
  font-size: 24px;
  line-height: 34px;
  margin-top: 0px;
  max-width: 700px;
}

@media (max-width: 768px) {
  .hero-description {
    font-size: 24px;
    line-height: 27px;
  }
}

.hero-image {
  max-width: 300px;
}

.large-title {
  font-size: 2.5em;
  font-weight: 900;
  margin-bottom: 0px;
  padding-bottom: 24px;
}

@media (max-width: 768px) {
  .large-title {
    font-size: 2em;
  }
}

.main-container {
  max-width: 620px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 768px) {
  .main-container {
    max-width: 90%;
  }
}

.work-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1024px) {
  .work-container {
    max-width: 90%;
  }
}

.workexample {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-top: 24px;
  padding-bottom: 24px;
}

@media (max-width: 768px) {
  .workexample {
    padding-top: 16px;
    padding-bottom: 16px;
    grid-template-columns: 1fr;
  }
}

.worktitle {
  margin: 0px;
  padding-bottom: 4px;
  font-size: 20px;
}

@media (max-width: 768px) {
  .worktitle {
    margin-top: 16px;
  }
}

.workdescription {
  margin: 0px;
}

.clients-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  max-width: 840px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

@media (max-width: 374px) {
  .client-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

.client-item {
  display: grid;
}

.client-logo {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.client-name {
  font-size: 16px;
  -webkit-margin-before: 0em;
}

.space-creator {
  height: 5vh;
}

.resume-container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media (max-width: 768px) {
  .resume-container {
    max-width: 100%;
  }
}

.jobs {
  display: grid;
  grid-template-rows: 1fr;
  grid-row-gap: 16px;
}

.job {
  display: grid;
  grid-row-gap: 16px;
}


.job-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 24px;
}

@media (max-width: 768px) {
  .job-row {
    grid-template-columns: 1fr;
  }
}

.job-meta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  grid-column-gap: 16px;
}

@media (max-width: 500px) {
  .job-meta {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

.job-title {
  text-align: left;
  font-weight: 900;
  font-size: 40px;
}

@media (max-width: 768px) {
  .job-title {
    font-size: 32px;
  }
}

.job-client-name {

}

.job-duration {
  text-align: right;
  color: rgba(0,0,0, 0.5);
  font-size: 14px;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .job-duration {
    text-align: left;
    text-transform: lowercase;
    margin-top: 4px;
    font-size: 16px;
  }
}

.job-description-subtitle {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  color: #AE422F;
  line-height: 0px;

}

.job-description {
  font-size: 22px;
  line-height: 32px;
}

@media (max-width: 768px) {
  .job-description {
    font-size: 18px;
    line-height: 28px;
  }
}

.job-image {
  padding-bottom: 24px;
}

.client-name {
  font-size: 16px;
  -webkit-margin-before: 0em;
  color: #222;
  font-weight: 300;
}

.client-image {
}

.tools-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
}

.downloadonappstoreicon {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding-top: 8px;
  width: 200px;
}

@media (max-width: 582px) {
  .downloadonappstoreicon {
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
  }
}

.button-row {
  padding-top: 24px;
  padding-bottom: 24px;
}

@media (max-width: 768px) {
  .button-row {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.icon-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  max-width: 840px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}