.hero-title {
    font-weight: 800;
    font-size: 10vh;
    font-weight: 900;
    line-height: 1.2em;
    margin-bottom: 0px;
  }
  
@media (max-width: 768px) {
    .hero-title {
        font-size: 7vh;
    }
}

h1 {
    font-weight: 900;
    font-size: 10vh;
    line-height: 1.2em;
    margin-bottom: 0px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 7vh;
    }
}

h2 {
  font-size: 40px;
  line-height: 1em;
  font-weight: 900;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
    h2 {
        font-size: 32px;
        margin-bottom: 8px;
    }
}

h3 {
    font-size: 32px;
    font-weight: 900;
    margin: 0;

}

@media (max-width: 768px) {
    h3 {
        font-size: 24px;
    }
}

h4 {
    font-size: 24px;
    margin: 0;
}

@media (max-width: 768px) {
    h4 {
        font-size: 16px;
    }
}

h5 {
    font-size: 18px;
    margin: 0;
}

@media (max-width: 768px) {
    h5 {
        font-size: 14px;
    }  
}

h6 {
    font-size: 14px;
}

@media (max-width: 768px) {
}

.lead {
    font-size: 24px;
    line-height: 34px;
    margin-top: 0px;
    max-width: 700px;
  }
  
@media (max-width: 768px) {
    .lead {
        font-size: 24px;
        line-height: 28px;
    }
}

p {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 16px;
  margin-top: 0px;
}

@media (max-width: 768px) {
  p {
    font-size: 18px;
    line-height: 28px;
  }
}

.tiny-text {
    font-size: 8px;
  }

.project-title {
    font-size: 20px;
    margin: 0px;
    padding-bottom: 4px;
}

@media (max-width: 768px) {
    .project-title {
      font-size: 16px;
    }
  }

/* POSITIONING */
.text-left {
    text-align: left;
  }
  
.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.justify {
    text-align: justify;
}

ol, ul {
    padding-left: 32px;
    margin-top: 0; 
}

li {
    font-size: 22px;
    line-height: 32px;
}

@media (max-width: 768px) {
    li {
        font-size: 18px;
        line-height: 28px;
    }
}

.large-title {
    font-size: 2.5em;
    font-weight: 900;
    margin-bottom: 0px;
    padding-bottom: 24px;
}

@media (max-width: 768px) {
    .large-title {
        font-size: 2em;
    }
}

.client-name {
    font-size: 16px;
    -webkit-margin-before: 0em;
    color: #222;
    font-weight: 300;
}
  
.job-title {
    text-align: left;
    font-weight: 900;
    font-size: 40px;
}

@media (max-width: 768px) {
    .job-title {
        font-size: 32px;
    }
}

.job-duration {
    text-align: right;
    color: rgba(0,0,0, 0.5);
    font-size: 14px;
    text-transform: uppercase;
  }
  
  @media (max-width: 500px) {
    .job-duration {
      text-align: left;
      text-transform: lowercase;
      margin-top: 4px;
      font-size: 16px;
    }
  }
  
.job-description-subtitle {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    color: #AE422F;
    line-height: 0px;
}

@media (max-width: 768px) {
    .job-description {
        font-size: 18px;
        line-height: 28px;
    }
}

.project-period {
    color: rgba(0,0,0, 0.5);
    font-size: 17px;
    font-weight: 300;
}

.timeline-paragraph {
    padding-right: 16px;
}

@media (max-width: 768px) {
    .timeline-paragraph {
        padding-right: 0px;
    }
}

